{{#if addNewPost}}
<div class="well">
  <form>
  <div class="form-group">
    <label for="author">Author:</label>
    {{input value=author id="author" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    {{input value=title id="title" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="content">Question:</label>
    {{textarea value=content id="content" class="form-control"}}
  </div>
  <button {{action 'savePost' post}}>Submit</button>
  </form>
</div>
{{#else}}
<button {{action 'postShowForm' post}}>Add New</button>
