<div class="well">
  <div class="col-lg-3">
    {{post.author}}
    <br>
    <!-- {{post.date}} -->
  </div>
  <div class="col-lg-9">
    {{post.title}}
    <hr>
    {{post.content}}
  </div>
  <button {{action 'delete' post}}>Delete Post</button>
  <br>
  {{update-post update='update' post=post}}

</div>
