<div class="well">
  <div class="author-div">
    {{post.author}}
    <hr>
    <!-- {{post.date}} -->
  </div>
  <div class="content-div">
    {{post.title}}
    {{post.content}}
  </div>
  <button {{action 'delete' post}}>Delete Post</button>
  <br>
  {{update-post update='update' post=post}}
</div>
