{{#if updatePostForm}}
<div class="well">
  <form>
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="author" placeholder=post.author class="form-control"}}
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      {{input value=title id="title" placeholder=post.title class="form-control"}}
    </div>
    <div class="form-group">
      <label for="content">Question:</label>
      {{textarea value=content id="content" placeholder=post.content class="form-control"}}
    </div>
    <button class="btn btn-primary" {{action 'update' post}}>Update</button>
  </form>
</div>
{{else}}
<button class="words" {{action 'updatePostForm' post}}>Update</button>
{{/if}}
