<h1>Welcome to Historia! A place where you can ask your questions regarding history. </h1>
<p>A place where you can ask questions about anything in history!</p>

{{new-post savePost="savePost"}}

<h2>Recent Questions:</h2>
<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>
{{new-answer saveAnswer="saveAnswer"}}
<ul>
  {{#each model.answers as |answer|}}
  <div class="well">
    {{answer.author}}
    <hr>
    {{answer.comment}}
  </div>
  {{/each}}

</ul>
