<!-- <div class="well">
  <div class="col-lg-3">
    {{model.author}}
    <br>
    {{model.date}}
  </div>
  <div class="col-lg-9">
    {{model.title}}
    <hr>
    {{model.content}}
  </div>
</div> -->

<h2>{{model.author}}'s post</h2>
